@import '~vuetify/src/styles/settings/index.sass';
@import '~vuetify/src/styles/tools/index.sass';

$body-font-family: 'Lato', sans-serif;
$heading-font-family: $body-font-family;
$grey-background: #f6f6f6;


$light:(
  'background': $grey-background
);


$theme: (
  primary: #0c53bb,
  secondary: #00ffd4,
  text: #32354e,
  warning: #ff9900,
  success: #8ebe2f,
  error: #c82e2d
);

a {
  text-decoration: none;
}

